:root {
    --header-color: #41644A;
    --main-color: #B7F5D5;
    --principal-font: 'Montserrat', cursive;
    --principal-font-weight: 400;
    --font-color-primary: #000;
    --font-color-secundary: #FFF;
    --button-color: #FFF;
}